@(sessionPerson:Person)(implicit flash:Flash, analyticsDetails: Option[String])

@import helper._

@nautical("Gift Registry Receive ") {


} {

    <div class="well">
        <h3>Receive</h3>
        <p>Remember which presents you received from whom</p>
    </div>


    <div class="well">

        <div class="well">
            <input type="text" />
            <button type="submit" class="btn btn-info">find present</button>
        </div>

    </div>

    <div class="well">

        <h4>Events</h4>

        <ol>
            <li><a href="#">Christmas 2012</a></li>
            <li><a href="#">John's 36th birthday in 2012</a></li>
            <li><a href="#">Susan's 34th birthday in 2012</a></li>
            <li><a href="#">Christmas 2011</a></li>
            <li><a href="#">John's 35th birthday in 2011</a></li>
        </ol>


        <div class="well">
            <input type="text" name="" placeholder="Name of new event"/>
            <button type="submit" class="btn btn-inverse">add new event</button>
        </div>

    </div>


    <div class="well">

        <div class="well">

            @form( action = routes.ReceiveController.startPresentRegistration, 'class -> "form-inline"){

            <input type="text" name="title" maxlength="100" placeholder="Enter a title for the present"/>

            <button type="submit" class="btn btn-primary">register present</button>

            }
        </div>

    </div>







}
