@(sessionPerson:Person,occasions:Seq[Occasion])(implicit flash:Flash, analyticsDetails: Option[String])

@import models._
@import helper._

@nautical("Gift Registry Receive ") {


} {

    <!--
    <div class="well">
        <h3>Receive</h3>
        <p>Remember which presents you received from whom</p>
    </div>
    -->


    <div class="well">

        <div class="well">
            <input type="text" />
            <button type="submit" class="btn btn-info">find present</button>
        </div>

    </div>

    <div class="well" id="receive-occasions">

        <h4>Occasions</h4>

        @if(!occasions.isEmpty){
            <div>
                <ol>
                    @for(occasion<-occasions){
                        <li class="well"><a href="@routes.OccasionController.showOccasion(occasion.occasionId.get.toString)">@occasion.title</a></li>
                    }
                </ol>
            </div>
        }

        <div class="well">
            @form( action = routes.OccasionController.createOccasion, 'class -> "form-inline"){
                <input type="text" name="title" placeholder="Name of new occasion"/>
                <button type="submit" class="btn btn-warning">add new occasion</button>
            }
        </div>

    </div>

    @if(!occasions.isEmpty){

    <div class="well">

        <div class="well">

            @form( action = routes.PresentController.startPresentRegistration, 'class -> "form-inline"){

                <input type="text" name="title" maxlength="100" placeholder="Enter a title for the present"/>

                <button type="submit" class="btn btn-primary">register present</button>

            }
        </div>

    </div>
    }







}
