@(sessionPerson:Person,fullPresentForm:Form[(String,Option[String],String,String)],occasions:Seq[Occasion])(implicit flash:Flash, analyticsDetails: Option[String])

@import helper._

@nautical("Gift Registry Receive ") {


} {

    @for(error <- fullPresentForm.errors){
        <p class="alert alert-error error">
            @if(error.message == "error.required"){
                Please fill in field: <em>@error.key</em>
            } else {
                @if(error.message == "error.maxLength"){
                   Field too long: <em>@error.key</em>
                } else {
                    @if(error.message == "error.minLength"){
                        Field too short: <em>@error.key</em>
                    } else {
                        @error.message
                    }
                }
            }
        </p>
    }


<div class="well">

    <h4>Present Received</h4>

    <div class="well">

        @form( action = routes.ReceiveController.registerPresent, 'class -> "form-horizontal"){


        <div class="control-group">
            <label class="control-label" for="inputEvent">Event</label>
            <div class="controls">
                <select name="occassion" id="inputEvent" size="1" class="input-xlarge">
                    @for(occasion<-occasions){
                        <option value="@occasion.occasionId.get.toString"
                            @if(fullPresentForm("occassion").value.getOrElse("") == occasion.occasionId.get.toString){
                                selected="selected"
                            } >@occasion.title</option>
                    }
                </select>
            </div>
        </div>



        <div class="control-group">
            <label class="control-label" for="inputFrom">From</label>
            <div class="controls">
                <input type="text" name="from" class="input-xlarge" id="inputFrom" maxlength="100" placeholder="Who was the present from?" value="@fullPresentForm("from").value"/>
            </div>
        </div>


        <div class="control-group">
            <label class="control-label" for="inputTitle">Present title</label>
            <div class="controls">
                <input type="text" name="title" class="input-xlarge" id="inputTitle"  maxlength="100"
                       placeholder="Enter a title for the present" value="@fullPresentForm("title").value" />
            </div>
        </div>


        <div class="control-group">
            <label class="control-label" for="inputDescription">Description</label>
            <div class="controls">
                <textarea name="description" class="input-xlarge" rows="5" id="inputDescription" placeholder="Describe if necessary">@fullPresentForm("description").value</textarea>
            </div>
        </div>



        <div class="control-group">
            <div class="controls">
                <button type="submit" class="btn btn-success">add present to registry</button>
            </div>
        </div>


        }
    </div>

</div>







}
