@()(implicit flash:Flash, analyticsDetails: Option[String])

@import helper._

@nautical("") {


} {

	<div class="well">

		<p>
			Plan which presents you are giving.
			<br/>
			&nbsp;&nbsp;&nbsp;Record which presents you gave to whom.
			<br/>
			&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Remember which presents you received from whom.
		</p>

	</div>


	<div class="well">
		@form( action = routes.Application.login, 'class -> "form-inline"){

			<div class="control-group" id="username-row">
				<input type="text" class="input-xlarge" id="inputUsername" name="username" placeholder="Your username"  maxlength="100" />
			</div>

			<div class="control-group">
					<input type="password" class="input-xlarge" id="inputPassword" name="password" placeholder="Your password" maxlength="100" />
                 <button type="submit" class="btn btn-primary input-small">log in</button>
			</div>

		}
	</div>


	<div class="well">
		@form( action = routes.Application.startRegistration, 'class -> "form-inline"){

			<div class="control-group">
					<input type="text" class="input-xlarge" name="email" placeholder="Your email address" maxlength="100" />
                 <button type="submit" class="btn btn-inverse input-small">register</button>
			</div>

		}
	</div>



}
