@()(implicit flash:Flash, potentialSessionPerson:Option[Person], analyticsDetails: Option[String])

@import helper._

@nautical("Gift Registry") {


} {

    <div id="index-page">

        <div class="row">

            <div class="well span3">
                <a href="@routes.ReceiveController.showReceive">Receive</a>
            </div>

            <div class="well span3">
                <a href="">Gave</a>
            </div>

        </div>


        <div class="row">

            <div class="well span3">
                <a href="http://wish.flurdy.com">Plans</a> <i class="icon-share"></i>
            </div>

            <div class="well span3">
                <a href="http://wish.flurdy.com">Wishes</a> <i class="icon-share"></i>
            </div>

        </div>


    </div>


}
